@media (min-width: 768px) and (max-width: 991px) {
  .home-body section,
  .job-page section,
  .company-page section,
  .job-list-page section,
  .comparing-page section {
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .profile-page > nav {
    margin-right: 0px;
  }
  .auth-form {
    width: 60%;
  }

  header {
    flex-wrap: wrap;
    div:first-child {
      order: 1;
    }
    .search-bar {
      order: 3;
      margin-top: 20px;
      form input {
        min-width: 40vw;
      }
      .css-11uk2zs-indicatorSeparator {
        background: none;
      }
    }
    .navigation {
      order: 2;
    }
  }
  .company-container {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-column-gap: 5%;
    grid-row-gap: 40px;
  }
}
