$color-primary-text-dark: #000;
$color-primary-text-light: #3c3a3a;
$color-primary-accent: #1cc7e4;
$color-primary-background-light: #fff;
$color-primary-background-dark: #d8d4d4;

$color-secondary-text-dark: #d8d4d4;
$color-secondary-text-light: #fff;
$color-secondary-accent: #da3f3f;
$color-secondary-background-light: #3c3a3a;
$color-secondary-background-dark: #000;
